@import models.core.RestrictedDownloads
@(files: Seq[RestrictedDownloads.DownloadableFile])

@main("Files Download") {

  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">

        @if(files.isEmpty) {

          <h1 class="jumbotron-heading">No files available</h1>
          <p class="lead text-muted">Currently there are no files here. Come back soon.</p>
        }else {

          <h1 class="jumbotron-heading">Choose file to download:</h1>

          @files.map{ f=>
            <p class="lead text-muted"><a href="@routes.HomeController.renderCodeForm(f.fileId)">@f.title</a></p>
          }
        }

      </div>
    </section>
  </main>

}
